[submodule "SuperTicTacToe"]
	path = SuperTicTacToe
	url = https://github.com/Sturmiwurmi/SuperTicTacToe.git
[submodule "Poker"]
	path = Poker
	url = https://github.com/Sturmiwurmi/Poker
[submodule "name"]
	path = name
	url = https://github.com/Sturmiwurmi/SuperTicTacToe
[submodule "MCG"]
	path = MCG
	url = https://github.com/Sturmiwurmi/MCG
